@page
@model KtabiTest.Pages.OffersModel
@{
}
@foreach (var item in Model.Books)
{
    <h1>@item.Course.CourseName</h1>
    <br />
    <h1>@item.Teacher.TeacherName</h1>
    <br />
    
}
<form action="/" method="post">
    @Html.DropDownListFor(model => model.Books., (SelectList)ViewBag.courseName, "", new { @class = "form-control" })

</form>